.title {
  margin: auto;
  font-size: x-large;
  font-family: Raleway, sans-serif;
  color: #dbe200;
}

/* Main Card Styles */
.main-card {
  background: white;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: all 0.5s;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

@media (min-width: 450px) {
  .main-card {
    width: 96%;
    max-width: 400px;
    height: calc(100% - 32px) !important;
    border-radius: 8px !important;
    max-height: 600px;
    margin: 16px !important;
  }
}

.collapsed {
  width: 48px !important;
  height: 48px !important;
  border-radius: 24px !important;
  margin: 16px !important;
}

#chatbot {
  position: fixed;
}

/* Chatbot Toggle Button */
#chatbot_toggle {
  position: absolute;
  right: 0;
  border: none;
  height: 48px;
  width: 48px;
  background: #dbe200;
  padding: 14px;
  color: white;
  transition: background 0.3s;
}

#chatbot_toggle:hover {
  background: rgba(219, 226, 0, .05);
}

/* Header Styles */
.main-title {
  background-color: #dbe200;
  font-size: large;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 48px;
}

.main-title > div {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.main-title > span {
  margin-left: 8px;
}

.main-title svg {
  height: 24px;
}

/* Chat Area */
.chat-area {
  flex-grow: 1;
  overflow-y: auto;
  border-radius: 8px;
  padding: 8px 0px 0px 4px;
  display: flex;
  flex-direction: column;
}

.chat-message-div {
  display: flex;
  font-size: 14px;
  margin: 8px;
  align-items: flex-start; /* Align avatar and messages properly */
}

/* Avatar Styles */
.avatar {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.avatar-img {
  width: 34px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

/* Message Bubbles */
.chat-message-sent {
  background-color: #dbe200;
  padding: 8px 16px;
  border-radius: 8px;
  color: black;
  margin-left: auto;
  margin-right: 16px;
  border-bottom-right-radius: 2px;
}

.chat-message-received {
  background-color: #dbe200;
  padding: 8px 16px;
  border-radius: 8px;
  color: black;
  margin-right: auto;
  margin-left: 0;
  border-bottom-left-radius: 2px;
  animation: fadeIn 0.5s ease-in; /* Apply fade-in animation only for bot messages */
}

/* Input Area */

input#message {
  padding: 8px 48px 8px 16px;
  flex-grow: 1;
  border: none;
  margin-left: 3px;
}

.input-div {
  height: 48px;
  display: flex;
  align-items: center;
}

.input-message:focus {
  outline: none;
}

.input-send {
  background: transparent;
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.input-send:hover {
  background: transparent;
}

.input-send svg {
  fill: #dbe200;
  margin-left: -12px;
}

/* Divider Line */
.line {
  height: 1px;
  background-color: #dbe200;
  width: 100%;
  opacity: 0.2;
}

/* Loader Styles */
.loader {
  /* margin: 7px 0 -2px; */
  text-align: center;
  /* opacity: 0.3; */
}

/* Loader Dots */
.loader__dot {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin: 0 1px;
  background: black;
  border-radius: 50px;
  opacity: 0.3;
  animation: loader 0.45s infinite alternate;
}

.loader__dot:nth-of-type(2) {
  animation-delay: 0.15s;
}

.loader__dot:nth-of-type(3) {
  animation-delay: 0.35s;
}

/* Animations */
@keyframes loader {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
